<a href="https://colab.research.google.com/github/Moojin-Bin/Get_KR_Stock_Price_from_Naver_Finance/blob/master/Get_KR_Stock_Price_from_Naver_Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrap adjusted Closing Price of Korean stocks from Naver Finance

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
def get_data(company_ticker_symbol, lookback):
    url_form = "https://fchart.stock.naver.com/sise.nhn?symbol={company_ticker_symbol}&timeframe=day&count={lookback}&requestType=0"
    url = url_form.format(company_ticker_symbol = company_ticker_symbol, lookback = lookback)

    response = requests.get(url)
    bs_obj = BeautifulSoup(response.content, "html.parser")
    bs_res = bs_obj.select('item')
    informations = ['Date', 'Open' ,'High', 'Low', 'Close', 'Volume']
    df = pd.DataFrame([], columns = informations, index = range(len(bs_res)))
    
    for i in range(len(bs_res)):
        df.iloc[i] = str(bs_res[i]['data']).split('|')
    
    df['Date']= pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    
    return df

In [3]:
# Samsung Electornics Example
get_data('005930', 100)

             Open   High    Low  Close    Volume
Date
2020-02-11  59800  60700  59700  59900  11071231
2020-02-12  60300  60700  59700  60500  12904207
2020-02-13  61200  61600  60500  60700  18449775
2020-02-14  60900  61900  60200  61800  13276067
2020-02-17  61600  62000  61200  61500   8740596
...           ...    ...    ...    ...       ...
2020-06-29  52500  53200  52000  52400  17776925
2020-06-30  53900  53900  52800  52800  21157172
2020-07-01  53400  53600  52400  52600  16706143
2020-07-02  52100  52900  52100  52900  14142583
2020-07-03  53000  53600  52700  53600  11822197

[100 rows x 5 columns]